* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.heading {
  background-color: crimson;
  text-align: center;
  padding: 24px;
}

.movies {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
}

.card {
  margin: 20px auto;
  border: 3px solid rgba(0,0,0,.125);
  position: relative;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow-x: hidden;
}

.cover {
  max-width: 50vw;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  justify-content: space-between;
}

.row {
  display: block;
  display: flex;
  justify-content: space-between;
}

.title { 
  display: inline;
}

.subtitle {
  font-size: 0.7em;
  margin-bottom: 16px;
}
.description {
  max-width: 50vw;
}



